<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-4">
                <h2> ☑️ My ToDo ☑️</h2>
                <form action="/tasks" method="POST">
                    <input required class="form-control" type="text" name="task_name" id="">
                    <input required class="form-control" type="date" name="task_date" id="">
                    <p contenteditable>Prioritāte:</p>
                    <select class="form-select" name="task_priority" id="">
                        <option value="3">Svarīgi</option>
                        <option value="2">Ne tik svarīgi</option>
                        <option value="1">Nesvarīgi</option>
                    </select>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Pievienot! 💾">
                </form>
                <hr>
                <table class="table">
                    <tr>
                        <th>Darbs</th>
                        <th>Prioritāte</th>
                        <th>Termiņš</th>
                        <th>Darbības</th>
                    </tr>
                    {% for task in data %}
                        <tr>
                            <td>{{ task[1] }}</td>
                            <td>
                                {% if task[2] == 1 %}
                                    Nesvarīgi
                                {% elif task[2] == 2 %}
                                    Ne tik svarīgi
                                {% elif task[2] == 3 %}
                                    Svarīgi
                                {% endif %}
                            </td>
                            <td>{{ task[3] }}</td>
                            <td>
                                <form action="/tasks" method="DELETE">
                                    <input hidden disabled type="text" name="id_to_delete" value="{{ task[0] }}">
                                    <input type="submit" value="✖️">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>