<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ToDo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-4">
                <h2> ☑️ My ToDo ☑️</h2>
                <form action="/tasks" method="POST">
                    <input class="form-control" type="text" name="task_name" id="">
                    <input class="form-control" type="date" name="task_date" id="">
                    <p>Prioritāte:</p>
                    <select class="form-select" name="task_priority" id="">
                        <option value="3">Svarīgi</option>
                        <option value="2">Ne tik svarīgi</option>
                        <option value="1">Nesvarīgi</option>
                    </select>
                    <input class="btn btn-primary" type="submit" value="Pievienot! 💾">
                </form>
                <hr>
                <table class="table">
                    <tr>
                        <th>Darbs</th>
                        <th>Prioritāte</th>
                        <th>Termiņš</th>
                    </tr>
                    <tr>
                        <td>Iztīrīt māju 🧹</td>
                        <td>Svarīgi</td>
                        <td>13.12.2030</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>